@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');


*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}


.body{
  font-family: "Inter", sans-serif;
  background-color: black ;
}





.nav-color{
    color: #e6533c;
}
.nav-background{
    background-color: #e6533c;
}



header {
    height: 100%;
    color: white;
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
    padding-top: 3rem;
    
}
nav {
    max-width: 1100px;
    height: 70px;
    font-weight: 800;
    line-height: 120%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav > div{
    width: 40%;
    border: 1px solid white;
    box-shadow: rgba(228, 8, 8, 0.05) 0px 6px 24px 0px, rgba(211, 10, 10, 0.08) 0px 0px 0px 1px;
    border-radius: 2rem;
    padding: 0.4rem 0.5rem;
}
nav .fa-solid{
    display: none;
}
nav > div > ul{
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 1rem;
}
nav > div > ul > li{
    list-style: none;
    margin-right: 4px;
}
nav > h1{
    font-size: 4rem;
}
.Home{
    border-radius: 1rem;
    padding: 0.5rem 1.5rem;
}

 



.banner-container{
    max-width: 1100px;
    margin: 0 auto;
    margin-top: 2.2rem;
    padding: 14px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;

}
.first-banner h1{
    font-size: 4rem;
    margin-bottom: 1rem;

}
.first-banner h1 > span{
    font-family: "Dancing Script", cursive;
    font-size: 6rem;
    font-style: 500;


}
.first-banner p{
    font-size: 1rem;
    margin-bottom: 2rem;
}
.btn-primary{
    padding: 0.7rem 2.5rem;
    border: none;
    border-radius: 2rem;
    border: 2px solid gray;
    color: white;
    font-weight: 700;
    margin-right: 1rem;
    margin-bottom: 1rem;
}
.border{
    border: none;
}
.second-banner{
    height: 600px;
    position: relative;
    display: flex;
    justify-content: center;
}
.second-banner img{
    width: 335px;
    height: 580px;
}
.text-500,.text-350{
   
    width: 190px;
    height: 98px;
    filter: blur(20);
    background: gray;
    position: absolute;    
    border-radius: 1rem;
    color: white;
    padding: 15px;

}
.text-500{
    top: 100px;
    right: 50px;
}
.text-500 h1,.text-350 h1{
    font-size: 2rem;
}
.text-500 p,.text-350 p{
    font-size: 0.8rem;
}
.text-350{
    bottom: 50px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.fa-circle-play{
    font-size: 2rem;
    color: tomato;
}